<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">  
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
</head>
<body>
	<div id="container">
	<form th:action="@{/login}" method="post" >
        <label for="username">Username</label>  
        <input type="text" id="username" name="username" autofocus="autofocus" />  
        <label for="password">Password</label>  
        <input type="password" id="password" name="password" />  
        <input id="submit" type="submit" value="Log in" />  	
	
	</form>
		<p th:if="${loginError}">Wrong username password </p>

	</div>

</body>
</html>